.clearfix{
  overflow: auto;
}

.header {
  text-align: center;
}

.mainField {
  margin: 0 auto;
  width: 60%;
  position: relative;
}

.grid {
  width: 70%;
  height: 450px;
  background: lightblue;
  margin: 0 auto;
  /*display: inline-block;*/
  z-index: auto;
  display: inline-block;

}

.square {
  float: left;
  width: 100px;
  height: 100px;
  background: gray;
  margin: 10px;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.row-one {
  display: inline-block;
}

.row-two {
  display: inline-block;
}

.row-three {
  display: inline-block;
}
