.header {
  text-align: center;
}

.grid {
  width: 500px;
  height: 500px;
  background: lightblue;
}

.square {
  float: left;
  width: 100px;
  height: 100px;
  background: gray;
  margin: 10px;
}

.red {
  background: red;
}

.row-one {
  display: inline-block;
}

.row-two {
  display: inline-block;
}

.row-three {
  display: inline-block;
}
